@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-style: Medium;
  font-weight: Medium;
}
body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  background-color: black;
}
.menubar {
  position: relative;
  width: 96vw;
  height: 2.6vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;
  justify-content: space-between;
  padding: 1vw;
  display: flex;
}
.list_container {
  position: relative;
  display: flex;
}
.li-list {
  position: relative;
  display: flex;
  gap: 5vw;
  margin-right: 26vw;
}
.li-list > li > a {
  text-decoration: none;
  font-size: 1.25vw;
  font-family: Inter;
  font-style: Medium;
  color: #fff;
}
