@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/Arial_Narrow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/Arial_Narrow_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
